.quizContainer {
    display: flex;
    flex-direction: row;
    
}
.questionContainer {
    float: left;
    border: 1px solid rgb(198, 197, 197);
    width: 100%;
    text-align: left;
    margin-right: 20px;
    margin-bottom: 10px;
    min-height: 50px;
}
.timer {
    border:1px solid red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    color: red;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}